.rate_container {
    background-color: #fff;
    flex-direction: column;
    padding: 2rem;
}

.rate_title {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 0.8rem;
    color: var(--font-color);
    border-bottom: 2px solid var(--border-color);
    margin: 1rem 0 2rem;
}

.rate_form {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--border-color);
    form {
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 1rem;
            font-size: 1.8rem;
            opacity: 0.8;
            color: var(--font-color);
        }
        .name_container {
            padding: 2rem 1rem;
            background-color: var(--background-input-color);
            border-radius: 0.4rem;
            margin-bottom: 3.2rem;
        }

        textarea {
            margin-bottom: 3.2rem;
            color: var(--font-color);
            font-size: 1.8rem;
            padding: 1rem;
            background-color: var(--background-input-color);
            border: none;
            border-radius: 0.4rem;
            resize: none;
        }

        .rateControl_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            .rate_score {
                label {
                    margin-right: 2rem;
                }
                select {
                    font-size: 1.6rem;
                    color: var(--font-color);
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .rate_submitBtn {
                width: 18rem;
                input {
                    margin: 0;
                    background-color: var(--primary-color);
                    color: #fff;
                    &:hover {
                        background-color: var(--active-color);
                    }
                }
            }
        }
    }
}

.alreadyComment_message {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.rate_guestComment_container {
    margin-top: 2rem;
    .rate_guestComment {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        border: 1px solid var(--border-color);
        padding: 2rem 2.6rem;
        box-shadow: 0 0 1rem var(--shadow-color);

        .guestComment_title {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            .image_container {
                img {
                    border-radius: 50%;
                    width: 4.8rem;
                    height: 4.8rem;
                    margin-right: 1.6rem;
                }
            }
            span {
                font-size: 1.8rem;
                color: var(--font-color);
                margin-right: 2rem;
                font-weight: 500;
            }
        }

        .guestComment_content {
            margin-top: 2rem;
            font-size: 1.8rem;
            color: var(--font-color);
            line-height: 2rem;
        }
    }
}
