.container {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    border-radius: 0.4rem;
}

.header_container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.payment_container,
.shipping_container {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    i {
        font-size: 1.8rem;
        margin-right: 1rem;
    }
    .status {
        margin-right: 1rem;
    }
    .time {
        color: var(--font-color);
    }

    &__inActive {
        color: var(--active-color);
    }
}

.body_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 2rem;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    .product_link {
        text-decoration: none;
    }
}

.item_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
    padding: 2rem 0;
}

.item_container:last-child {
    border-bottom: none;
}

.productInfo_container {
    display: flex;
    width: 88%;
    img {
        width: 10rem;
        margin-right: 1rem;
    }
    .detail_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 2.2rem;

        .name {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 1.8rem;
            color: var(--font-color);
            margin-bottom: 0.6rem;
        }

        .price {
            font-size: 1.6rem;
            color: var(--font-color);
            opacity: 0.8;
            span {
                position: relative;
                top: -0.4rem;
            }
            margin-bottom: 0.6rem;
        }
        .quantity {
            font-size: 1.6rem;
            color: var(--font-color);
        }
    }
}
.productTotalPrice_container {
    color: var(--active-color);
    font-size: 1.6rem;
    span:nth-child(2) {
        position: relative;
        top: -0.4rem;
    }
}

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4rem 2rem 2rem 2rem;
}

.totalPrice_container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .totalPrice {
        i {
            font-size: 1.8rem;
            color: var(--primary-color);
            margin-right: 1rem;
        }
        span:nth-child(2) {
            font-size: 1.6rem;
            color: var(--font-color);
            margin-right: 1rem;
        }
        span:nth-child(3) {
            font-size: 2.4rem;
            color: var(--active-color);
        }
        span:nth-child(4) {
            color: var(--active-color);
            font-size: 1.6rem;
            position: relative;
            top: -0.4rem;
        }
    }
}
.controlBtns_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    .controlBtn {
        margin-left: 1rem;
    }
}
