.loading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: #fff;
    height: 40rem;
}
.loading_icon {
    font-size: 6rem;
    color: var(--primary-color);
}
.loading_title {
    font-size: 2rem;
    margin-top: 2rem;
}
