.sidebar_container {
    flex-direction: column;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.sidebar_cateList {
    border: 1px solid var(--border-color);
    background-color: #fff;
    border-radius: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0rem 0rem 0.8rem var(--shadow-color);
}

.sidebar_title {
    background-color: var(--primary-color);
    padding: 2rem 2rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 0.6rem 0.6rem 0 0;

    i {
        margin: 0 0.8rem;
        padding: 0rem;
    }
}

.sidebar_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0rem;
}

.sidebar_itemParent {
    padding: 1rem;
    margin: 1rem auto;
    font-size: 1.6rem;
    width: 90%;
    line-height: 1.8rem;

    // &:hover {
    //     color: var(--active-color);
    //     cursor: pointer;
    //     animation: fontToActive ease-in 0.2s;
    // }
}

.sidebar_itemChildList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;

    @keyframes dropDown {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.sidebar_itemChild {
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
    font-size: 1.6rem;
    color: var(--font-color);
    width: 80%;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    &:hover {
        color: var(--active-color);
        cursor: pointer;
        animation: fontToActive ease-in 0.2s;
    }
}
