.container {
    background-color: #fff;
    padding: 6rem 10rem;
    margin: 10rem 0;
}

.title_container {
    text-align: center;
    margin: 2rem 0 4rem 0;
    span {
        font-size: 2rem;
        color: var(--font-color);
        font-weight: 400;
    }
}
.phone_invalid {
    display: block;
    margin: 2rem 0 1rem 0;
    color: var(--primary-color);
    font-size: 1.4rem;

    &__active {
        display: block;
        margin: 2rem 0 1rem 0;
        color: var(--active-color);
        font-size: 1.4rem;
    }
}
.input_container {
    padding: 1rem 2rem;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;

    i {
        margin-right: 2rem;
    }
    input {
        border: none;
        font-size: 1.6rem;
        width: 100%;
        &:focus {
            outline: none;
        }
    }
}
.signin_button {
    margin: 2rem 0 4rem 0;
    &__disable {
        opacity: 0.8;
        &:hover {
            background-color: var(--primary-color) !important;
            border: 1px solid var(--primary-color) !important;
        }
    }
}
.social_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0.8rem;
        background-color: var(--font-color);
        opacity: 0.8;
    }
}
.social_note {
    font-size: 1.6rem;
    color: var(--font-color);
    z-index: 1;
    background-color: #fff;
    width: fit-content;
    padding: 0 0.6rem;
    opacity: 0.8;
}
.social_link_container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.social_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%;
    border: 1px solid var(--primary-color);
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 0.6rem;

    &:hover {
        border-color: var(--active-color);
    }

    img {
        width: 2.2rem;
        margin-right: 1rem;
    }
    span {
        color: var(--font-color);
        font-size: 1.8rem;
    }
}
