.container {
    margin-right: 1rem;
}
.block_container {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 0.6rem;
    padding: 2rem 1rem 0rem;
    margin-bottom: 1.6rem;
    overflow-x: hidden;
}

.detail_container {
    margin-bottom: 1.6rem;
    padding: 0 2rem;

    &__title {
        margin-bottom: 2.8rem;
        padding: 0 1rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
}
.title {
    font-size: 1.6rem;
    color: var(--font-color);
    margin-right: 0.6rem;
    line-height: 2rem;
    opacity: 0.9;
}

.content {
    line-height: 02rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--font-color);
    span {
        position: relative;
        top: -0.4rem;
        font-size: 1.6rem;
    }
}

.status_container {
    background-color: var(--primary-color);
    padding: 1rem 4rem;
    margin: auto -2rem;
    &__active {
        background-color: var(--active-color);
    }
    .title {
        color: #fff;
    }
    .content {
        color: #fff;
    }
}

.cart_container {
    max-height: 22rem;
    padding: 0 1rem 0 0;
    margin: 1rem -1.4rem 1rem 1rem;
    overflow-y: scroll;
}
.product_container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    .product_detail {
        display: flex;
        .image {
            width: 10rem;
        }
        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 1rem;
            span {
                font-size: 1.6rem;
                color: var(--font-color);
            }
        }
    }
    .total_price {
        margin: auto 0;
        margin-right: 0rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--active-color);
    }
}

.sumary_title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--font-color);
}
.sumary_detail {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    margin: 2.8rem 0;
}
.submit_btn {
    margin: 2rem 0;
}
