:root {
    --cart-product-width: 60%;
    --cart-quantity-width: 15%;
    --cart-price-width: 15%;
}

.cart_container {
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    display: block;
    position: relative;
    margin-bottom: 1rem;
}

.cart_list {
    width: 100%;
    margin-bottom: 1rem;
}

.list_title {
    display: flex;
    background-color: var(--primary-color);
    padding: 1rem;
    justify-content: space-between;
    span {
        font-size: 1.8rem;
        color: #fff;
    }
}
.title_product {
    width: var(--cart-product-width);
}
.title_quantity {
    width: var(--cart-quantity-width);
    padding-left: 1%;
}
.title_price {
    width: var(--cart-price-width);
    padding-left: 4%;
}

.list_content {
    padding: 1rem;
    max-height: 30rem;
    width: 100.5%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cart_sumary {
    position: relative;
    width: 32%;
    padding: 1rem;
    margin: 0 2rem 0 auto;
    border-top: 2px solid var(--primary-color);
    border-radius: 2px;
}
.total_price_container {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    font-size: 1.6rem;
    color: var(--font-color);
    margin-top: 1rem;
}
.price {
    position: relative;
    font-weight: 500;
    margin-right: 1rem;
    font-size: 1.8rem;
    color: var(--active-color);

    span {
        position: absolute;
        top: -0.4rem;
        font-size: 1.6rem;
    }
}

.continue_btn {
    margin-top: 2rem;
}

.empty_cart_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty_cart_img {
    width: 24rem;
}
.empty_cart_link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--font-color);
    &:hover {
        color: var(--primary-color);
    }
}
